body
{
	background: #3c3b45; 
	color: white;
}
input[type=text]
{
	width: 50%;
	padding: 10px 20px;
	margin: 8px 0px;
	box-sizing: border-box;
}
.container
{
	width: 900px;
}
a
{
	display: block;
}